<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member - join(create)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2>join Page!</h2>

    <form action="/members" th:object="${form}" method="post">
        <div th:if="${#fields.hasErrors()}">
            <p th:each="err : ${#fields.globalErrors()}"></p>
        </div>
        <table>
            <tr>
                <td>아이디</td>
                <td>
                    <input type="text" name="memberId" id="memberId" th:field="*{memberId}">
                    <div th:errors="*{memberId}">Incorrect data</div>
                </td>
            </tr>

            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="password" name="password" th:field="*{password}">
                    <div th:errors="*{password}">Incorrect data</div>
                </td>
            </tr>

            <tr>
                <td>이름</td>
                <td>
                    <input type="text" name="name" th:field="*{name}">
                    <div th:errors="*{name}">Incorrect data</div>
                </td>
            </tr>

            <tr>
                <td>성별</td>
                <td>
                    <input type="radio" name="gender" value="male">남
                    <input type="radio" name="gender" value="female">여
                </td>
            </tr>

            <tr>
                <td>생년월일</td>
                <td>
                    <input type="date" name="birth">
                </td>
            </tr>

            <tr>
                <td>전화번호</td>
                <td>
                    <input type="text" name="phone" th:field="*{phone}" placeholder="010-0000-0000">
                    <div th:errors="*{phone}"></div>
                </td>
            </tr>

            <tr>
                <td>이메일</td>
                <td>
                    <input type="email" name="email" th:field="*{email}">
                    <div th:errors="*{email}">Incorrect data></div>
                </td>
            </tr>

            <tr>
                <td>주소</td>
                <td>
                    <input type="text" name="zipcode" id="sample6_postcode" placeholder="우편번호">
                    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" name="city" id="sample6_address" placeholder="주소"><br>
                    <input type="text" name="street" id="sample6_detailAddress" placeholder="상세주소">
                </td>
            </tr>
        </table>
        <input type="submit" value="가입">
        <input type="reset" value="입력초기화">
    </form>

</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</html>