<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <h2>log-in Page!</h2>


    <form action="/members/login" method="post">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" id="memberId" /></td>
            </tr>
            <tr>
                <td>PW</td>
                <td><input type="password" id="password" /></td>
            </tr>
        </table>

        <input type="submit" value="login">
    </form>

    <hr/>
    <h3>아이디/ 비밀번호를 잊으셨다면?</h3>
    <button th:onclick="|location.href='#'|">아이디 찾기</button>
    <button th:coclick="|location.href='#'|">비밀번호 찾기</button>
</body>
</html>